body {
  background-color: rgb(19, 5, 18);
}

img {
  height: 100%;
  width: 100%;
}

figcaption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-decoration: none;
  color: rgb(209, 206, 209);
}

a {
  color: rgb(209, 206, 209);
  text-decoration: underline;
}
